# Count move ratings

## Using simple programming constructs

In [20]:
import csv

counts_by_rating = {}
with open('./data/movie_ratings.csv', 'r') as fin:
    reader = csv.DictReader(fin)
    for row in reader:
        if row['rating'] not in counts_by_rating:
            counts_by_rating[row['rating']] = 0
        counts_by_rating[row['rating']] += 1
        
for rating, count in counts_by_rating.items():
    print("%s\t%d" % (rating, count))

3	4
1	2
2	2
4	1
5	1

## Using Pandas

In [12]:
import pandas as pd
ratings = pd.read_csv('./data/movie_ratings.csv')
ratings

   movie_id  rating  timestamp
0       242       3  881250949
1       302       3  891717742
2       377       1  878887116
3        51       2  880606923
4       346       1  886397596
5       474       4  884182806
6       265       2  881171488
7       465       5  891628467
8       451       3  886324817
9        86       3  883603013

In [13]:
ratings.rating.value_counts()

3    4
2    2
1    2
5    1
4    1
Name: rating, dtype: int64